<section>
  <footer id="pie-pagina" class="text-white mt-5 p-5 pie-pagina" style="position: relative; bottom: -3rem; pie-pagina">
    <div class=" logo-nav-container ">
      <img src="assets/img/Gallomx.png" alt="Gallomx" class="logo">
      <nav class="navigation" style="position: relative; left:-20rem;">
        <div><p>Acerca de</p></div>
        <div class="dropdown-divider"></div>
        <a href="">Gallo MX</a>
        <a href="">Mi Cuentas</a>
        <a href="">contacto</a>
      </nav>

      <nav class="navigation" style="position: relative; left: -10rem;">
        <div><p>Sorteos</p></div>
        <div class="dropdown-divider"></div>
        <a href="">Resultados</a>
        <a href="">Formas de pago</a>
        <a href="">Preguntas Frecuentes</a>
      </nav>

      <nav class="navigation">
        <div><p>Legales</p></div>
        <div class="dropdown-divider"></div>
        <a href="">Plataforma Segura</a>
        <a href="">Juego Seguro</a>
        <a href="">Aviso de Privacidad</a>
        <a href="">Legales</a>
      </nav>

    </div>
  </footer>
</section>

<section>
  <footer id="pie" class="pie text-white mt-5 p-5 " >
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="lead text-center">
            Copyright &copy; GalloMX <i class="fab fa-cc-visa fa-2x"></i>     <i class="fab fa-cc-mastercard fa-2x"></i>
          </p>
        </div>
      </div>
      <p>Mi Gallo de la Suerte S.A. de C.V. es la empresa autorizada por Pronósticos para la Asistencia Pública para comercializar sus juegos y sorteos a través de Internet y dispositivos Móviles.
        SDPMX S.A. de C.V. es la empresa autorizada por Capali la Paz Operaciones S.A. de C.V. Para comercializar los Sorteos de la Marca GalloMX.
        gallomx.com es un dominio y marca registrada de Mi Gallo de la Suerte S.A de C.V.</p>


      <p style="position: relative; right: 20rem; top: -6rem;">Calle 51 # 484 cruzamientos 54 y 56 <br>
        Colonia Centro<br>
        Mérida, Yucatán, México<br>
        CP. 97000 <br>

        Teléfono: (999) 980 3178<br>
      </p>


    </div>

  </footer>
</section>

