<body>

<div class="wrap">
<form>
<h2>Singup Free</h2>
<input type="text" name="nombre" placeholder="Nombre">
<input type="text" name="apellidop" placeholder="Primer Apellido">
<input type="text" name="apellidom" placeholder="Segundo Apellido">
<input type="number" name="celular" placeholder="Celular">
<input type="text" name="Pais" placeholder="Mexico" value="Mexico" disabled="true">
<form action="#" name="formulario1" >
<select name="estado" >
  <option value="0"> Estado</option>
  <option value="1">Aguas Caliente</option>
  <option value="2">Baja California</option>
  <option value="3">Baja California Sur</option>
  <option value="4">Campeche</option>
  <option value="5">Coahualia de Zaragosa</option>
  <option value="6">Colima</option>
  <option value="7">Chiapas</option>
  <option value="8">Chihuahua</option>
  <option value="9">Distrito Federal</option>
  <option value="10">Durango</option>
  <option value="11">Guajuato</option>
  <option value="12">Guerrero</option>
  <option value="13">Hidalgo</option>
  <option value="14">Jalisco</option>
  <option value="15">Mexico</option>
  <option value="16">Michoacán de Ocampo</option>
  <option value="17">Morelos</option>
  <option value="18">Nayarit</option>
  <option value="19">Nuevo Leon</option>
  <option value="20">Oaxaca</option>
  <option value="21">Puebla</option>
  <option value="22">Querétaro</option>
  <option value="23">Quintana Roo</option>
  <option value="24">San Luis Potosi</option>
  <option value="25">Sinaloa</option>
  <option value="26">Sonora</option>
  <option value="27">Tabasco</option>
  <option value="28">Tamaulipas</option>
  <option value="29">Tlaxcala</option>
  <option value="30">Veracruz de Ignacio de la llave</option>
  <option value="31">Yucatán</option>
  <option value="32">Zacatecas</option>

</select>
<select name="municipios">
  <option value="-">-</option>
</select>
</form>
<input type="email" name="email" placeholder="Email">
<input type="password" name="password" placeholder="password">
<input type="password" name="confirmarpassword" placeholder="Confirmar password">
<span>Fecha de Nacimiento</span>
<br>
<select name="DoBmonth">
<option> Month</option>
<option value="enero">Enero</option>
<option value="febrero">Febrero</option>
<option value="marzo">Marzo</option>
<option value="abril">Abril</option>
<option value="mayo">Mayo</option>
<option value="junio">Junio</option>
<option value="julio">Julio</option>
<option value="agosto">Agosto</option>
<option value="septiembre">Septiembre</option>
<option value="octubre">Octubre</option>
<option value="noviembre">Nombiembre</option>
<option value="diciembre">Diciembre</option>
</select>

<select name="DoBday">
<option> Day</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
<option value="16">16</option>
<option value="17">17</option>
<option value="18">18</option>
<option value="19">19</option>
<option value="20">20</option>
<option value="21">21</option>
<option value="22">22</option>
<option value="23">23</option>
<option value="24">24</option>
<option value="25">25</option>
<option value="26">26</option>
<option value="27">27</option>
<option value="28">28</option>
<option value="29">29</option>
<option value="30">30</option>
<option value="31">31</option>
</select>

<select name="DoByear">
<option> Year</option>
<option value="2019">2019</option>
<option value="2018">2018</option>
<option value="2017">2017</option>
<option value="2016">2016</option>
<option value="2015">2015</option>
<option value="2014">2014</option>
<option value="2013">2013</option>
<option value="2012">2012</option>
</select>
<br>
<br>
<input type="checkbox"> Acepto terminos y condiciones
<br>
<input type="checkbox"> Soy mayor de edad
<br>
<input type="submit" value="Registrarse">

</form>
</div>


</body>

