@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

span{
font-size: 18px;
font-family: 'Quicksand', sans-serif;
}

body{
margin-top:5rem;


}

.wrap{
width: 350px;
margin: auto;
background:white;
margin-top: 50px;
padding: 5px;
width: 70%;
height: 60%;
}

form{
padding: 10px;
border: 1px dotted white;
}

h1{
text-align: center;
color: #af1615;
padding: 10px;
border-radius: 10px;
font-family: 'Quicksand', sans-serif;
font-size: 30pt;
}

input{
padding: 10px;
margin: 5px;
border-radius: 5px;
border: none;
}



input[type=checkbox]{
font-family: 'Quicksand', sans-serif;
}

option{
  font-family: 'Quicksand', sans-serif;
}

.nombre{
  width: 100%;
  background: transparent;
border: 0;
outline: 0;
border-bottom: 5px solid #e1e0e0;
}

.apellido{
  width:40%;
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 5px solid #e1e0e0;
}

h3{
  text-align: left;
  color: #e1211e;
  font-family: 'DM Sans', sans-serif;
  font-size: 2rem;
}

.telefono{
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 5px solid #e1e0e0;
  width: 40%;
}
