.container{
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.header{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.logo-nav-container{
  display: flex;
  justify-content: center;
  align-items: center;

}

