<header class="header fixed-top">
  <div class="container logo-nav-container">
    <img src="assets/img/Gallomx.png" alt="Gallomx" class="logo" style="position: relative; left: -35rem;">
    <nav class="navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-transparent" style="position: relative; right: -35rem;">
        <a class="navbar-brand" href="#">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Juegos
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/gallowin">Gallo Win</a>
                <a class="dropdown-item" href="/gallonacional">Gallo Nacional</a>
                <a class="dropdown-item" href="/tris">Tris</a>
                <a class="dropdown-item" href="/melate">Melate</a>
                <a class="dropdown-item" href="/retro">Melate Retro</a>
                <a class="dropdown-item" href="/ganagato">Gana Gato </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" routerLink="/resultados">Resultados</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
        </div>
      </nav>

    </nav>

  </div>

</header>

<main class="main">

</main>

