<header class="header">
  <h1>Resultados</h1>
  </header>

  <body>
  <div class="card" >

  <div class="card-body">
  <img src="assets/img/gallowin.svg" alt="gallowin" class="img">
  <h5>Ganadores para <br> el sorteo 2045 del<br> 20 de febro 2020</h5>
  <div class="divisor">
  <p class="card-text">2548</p>
  </div>
  </div>
  </div>

  <div class="card" style="position: relative; right: -3rem;" >

  <div class="card-body">
  <img src="assets/img/gallowin.svg" alt="gallowin" class="img">
  <h5>Ganadores para <br> el sorteo 2045 del<br> 20 de febro 2020</h5>
  <div class="divisor">
  <p class="card-text">2548</p>
  </div>
  </div>
  </div>

  <div class="card" style="position: relative; right: -4rem;" >

  <div class="card-body">
  <img src="assets/img/gallowin.svg" alt="gallowin" class="img">
  <h5>Ganadores para <br> el sorteo 2045 del<br> 20 de febro 2020</h5>
  <div class="divisor">
  <p class="card-text">2548</p>
  </div>
  </div>
  </div>
  </body>

  <body>
  <div class="card" >

  <div class="card-body">
  <img src="assets/img/gallowin.svg" alt="gallowin" class="img">
  <h5>Ganadores para <br> el sorteo 2045 del<br> 20 de febro 2020</h5>
  <div class="divisor">
  <p class="card-text">2548</p>
  </div>
  </div>
  </div>

  <div class="card" style="position: relative; right: -3rem;" >

  <div class="card-body">
  <img src="assets/img/gallowin.svg" alt="gallowin" class="img">
  <h5>Ganadores para <br> el sorteo 2045 del<br> 20 de febro 2020</h5>
  <div class="divisor">
  <p class="card-text">2548</p>
  </div>
  </div>
  </div>

  <div class="card" style="position: relative; right: -4rem;" >

  <div class="card-body">
  <img src="assets/img/Tris.svg" alt="gallowin" class="img" style="height: 50%;" >
  <h5 >Ganadores para <br> el sorteo 2045 del<br> 20 de febro 2020</h5>
  <div class="divisor">
  <p class="card-text">2548</p>
  </div>
  </div>
  </div>
  </body>

  <body style="position: relative; bottom: -2rem;">
  <div class="card" >

  <div class="card-body">
  <img src="assets/img/Tris.svg" alt="gallowin" class="img" style="height: 50%;" >
  <h5>Ganadores para <br> el sorteo 2045 del<br> 20 de febro 2020</h5>
  <div class="divisor">
  <p class="card-text">2548</p>
  </div>
  </div>
  </div>

  <div class="card" style="position: relative; right: -3rem;" >

  <div class="card-body">
  <img src="assets/img/Tris.svg" alt="gallowin" class="img" style="height: 50%;" >
  <h5>Ganadores para <br> el sorteo 2045 del<br> 20 de febro 2020</h5>
  <div class="divisor">
  <p class="card-text">2548</p>
  </div>
  </div>
  </div>

  <div class="card" style="position: relative; right: -4rem;" >

  <div class="card-body">
  <img src="assets/img/Tris.svg" alt="gallowin" class="img" style="height: 50%;" >
  <h5>Ganadores para <br> el sorteo 2045 del<br> 20 de febro 2020</h5>
  <div class="divisor">
  <p class="card-text">2548</p>
  </div>
  </div>
  </div>
  </body>

  <body style="position: relative; bottom: -4rem;" >
  <div class="card" >

  <div class="card-body">
  <img src="assets/img/Tris.svg" alt="gallowin" class="img" style="height: 50%;" >
  <h5>Ganadores para <br> el sorteo 2045 del<br> 20 de febro 2020</h5>
  <div class="divisor">
  <p class="card-text">2548</p>
  </div>
  </div>
  </div>

  <div class="card" style="position: relative; right: -3rem;" >

  <div class="card-body">
  <img src="assets/img/ProTouch.svg" alt="gallowin" class="img" style="height: 50%;">
  <h5>Ganadores para <br> el sorteo 2045 del<br> 20 de febro 2020</h5>
  <div class="divisor">
  <p class="card-text">2548</p>
  </div>
  </div>
  </div>

  <div class="card" style="position: relative; right: -4rem;" >

  <div class="card-body">
  <img src="assets/img/melate.svg" alt="gallowin" class="img">
  <h5>Ganadores para <br> el sorteo 2045 del<br> 20 de febro 2020</h5>
  <div class="divisor">
  <p class="card-text">2548</p>
  </div>
  </div>
  </div>
  </body>

  <body style="position: relative; bottom: -5rem;" >
  <div class="card" >

  <div class="card-body">
  <img src="assets/img/retro.svg" alt="gallowin" class="img" style="height: 50%;" >
  <h5>Ganadores para <br> el sorteo 2045 del<br> 20 de febro 2020</h5>
  <div class="divisor">
  <p class="card-text">2548</p>
  </div>
  </div>
  </div>

  <div class="card" style="position: relative; right: -3rem;" >

  <div class="card-body">
  <img src="assets/img/gallonacional.svg" alt="gallowin" class="img" style="height: 50%;">
  <h5>Ganadores para <br> el sorteo 2045 del<br> 20 de febro 2020</h5>
  <div class="divisor">
  <p class="card-text">2548</p>
  </div>
  </div>
  </div>

  <div class="card" style="position: relative; right: -4rem;" >

  <div class="card-body">
  <img src="assets/img/melate.svg" alt="gallowin" class="img">
  <h5>Ganadores para <br> el sorteo 2045 del<br> 20 de febro 2020</h5>
  <div class="divisor">
  <p class="card-text">2548</p>
  </div>
  </div>
  </div>
  </body>
