
<img src="assets/img/gallobanner.png" alt="gallobaner" class="bandera">
<body>
  <div class="container" >
    <div class="card" style="border-color: #1bb95c ;  box-shadow: -.7rem -1rem rgba(9, 90,29, 0.7);">
      <div class="imgbox" style="background:#1bb95c;">
        <img src="assets/img/gallowin.svg" alt=" galllowin">

      </div>
      <div class="content" style="background: #095a1d;">
        <h2>Gallo Win</h2>
        <p>Al que madruga el gallo lo ayuda</p>
        <button  routerLink="/gallowin">Juega</button>

      </div>

    </div>
    <div class="card" style="border-color:#ed0d1d; box-shadow: -5px 30px 1px rgba(237,13,29,0.7);">
      <div class="imgbox" style="background: #dd0e58;">
        <img src="assets/img/melate.svg" alt=" galllowin">

      </div>
      <div class="content" style="background: #ed0d1d;">
        <h2>Melate</h2>
        <p>La corozonada de la suerte</p>
        <button  routerLink="/melate">Juega</button>

      </div>

    </div>
    <div class="card">
      <div class="imgbox" style="background: #e69b25;">
        <img src="assets/img/chispazo.svg" alt=" galllowin">

      </div>
      <div class="content" style="background: #ebe832;">
        <h2>Chizpazo</h2>
        <p>Un toque de la suerte</p>
        <button  routerLink="/chispazo">Juega</button>

      </div>

    </div>
  </div>
</body>




<div class="container" style= "position: relative; top: -15rem;">
  <div class="card">
    <div class="imgbox" style="background: #1792ed;">
      <img src="assets/img/gallonacional.svg" alt=" galllowin">

    </div>
    <div class="content" style="background: #1f44cb;">
      <h2>Gallo Nacional</h2>
      <p>Al que madruga el gallo lo ayuda</p>
      <button  routerLink="/gallonacional">Juega</button>

    </div>

  </div>
  <div class="card">
    <div class="imgbox" style="background: #e69924;">
      <img src="assets/img/retro.svg" alt=" galllowin">

    </div>
    <div class="content" style="background: #fa551f;">
      <h2>Retro</h2>
      <p>La corozonada de la suerte</p>
      <button  routerLink="/retro">Juega</button>

    </div>

  </div>
  <div class="card">
    <div class="imgbox" style="background: #9ab022; border-color: #9ab022;">
      <img src="assets/img/Tris.svg" alt=" galllowin">

    </div>
    <div class="content" style="background: #56971b;">
      <h2>Tris</h2>
      <p>Un toque de la suerte</p>
      <button  routerLink="/tris">Juega</button>

    </div>

  </div>

  <div class="card" style="top: 3rem;">
    <div class="imgbox" style="background: #5219c1;">
      <img src="assets/img/ganagato.svg" alt=" galllowin">
    </div>
    <div class="content">
      <h2>Tris</h2>
      <p>Un toque de la suerte</p>
      <button  routerLink="/ganagato">Juega</button>
    </div>
  </div>








</div>


<app-anuncio></app-anuncio>

<app-resultados></app-resultados>


