
<img src="assets/img/gallobanner.png" alt="gallobaner" class="bandera">
<body>
  <div class="container" >
    <div class="card" style="  box-shadow: -1px -1px 0px 8px rgba(27,185,92,0.75);">
      <div class="imgbox" style="background: #095a1d;">
        <img src="assets/img/gallowin.svg" alt=" galllowin">

      </div>
      <div class="content" style="background: #1bb95c;">
        <h2>Gallo Win</h2>
        <p>Al que madruga el gallo lo ayuda</p>
        <button  routerLink="/gallowin">Juega</button>
      </div>

    </div>
    <div class="card" style="box-shadow: -1px -1px 0px 8px rgba(221,14,88,0.7);">
      <div class="imgbox" style="background: #ed0d1d;">
        <img src="assets/img/melate.svg" alt=" galllowin">

      </div>
      <div class="content" style="background: #dd0e58;">
        <h2>Melate</h2>
        <p>La corozonada de la suerte</p>
        <button  routerLink="/melate">Juega</button>
      </div>

    </div>
    <div class="card" style="box-shadow: -1px -1px 0px 8px rgba(230,135,37,0.7);">
      <div class="imgbox" style="background: #ebe832;">
        <img src="assets/img/chispazo.svg" alt=" galllowin">

      </div>
      <div class="content" style="background: #e69b25;">
        <h2>Chizpazo</h2>
        <p>Un toque de la suerte</p>
        <button  routerLink="/chispazo">Juega</button>

      </div>
    </div>
    <br>

    <div class="card" style="box-shadow: -1px -1px 0px 8px rgba(23, 146,237, 0.7); top: 2rem;">
      <div class="imgbox" style="background: #1f44cb;">
        <img src="assets/img/gallonacional.svg" alt=" galllowin">

      </div>
      <div class="content" style="background: #1792ed;">
        <h2>Gallo Nacional</h2>
        <p>Al que madruga el gallo lo ayuda</p>
        <button  routerLink="/gallonacional">Juega</button>

      </div>
    </div>
    <br>
    <div class="card" style="box-shadow: -1px -1px 0px 8px rgba(230,153,36,1); top: 2rem;">
      <div class="imgbox" style="background: #fa551f;">
        <img src="assets/img/retro.svg" alt=" galllowin">

      </div>
      <div class="content" style="background: #e69924;">
        <h2>Retro</h2>
        <p>La corozonada de la suerte</p>
        <button  routerLink="/retro">Juega</button>

      </div>

    </div>
    <br>
    <div class="card" style="box-shadow: -1px -1px 0px 8px rgba(154,176,34,1); top: 2rem;">
      <div class="imgbox" style="background: #56971b;">
        <img src="assets/img/Tris.svg" alt=" galllowin">

      </div>
      <div class="content" style="background: #9ab022;">
        <h2>Tris</h2>
        <p>Un toque de la suerte</p>
        <button  routerLink="/tris">Juega</button>

      </div>

    </div>
    <br>

  <div class="card" style="top: 4rem; box-shadow: -1px -1px 0px 8px rgba(82, 25,193, 1);">
    <div class="imgbox" style="background: #4a33faff;">
      <img src="assets/img/ganagato.svg" alt=" galllowin">
    </div>
    <div class="content" style="background: #5219c1;">
      <h2>Gana Gato</h2>
      <p>Un toque de la suerte</p>
      <button  routerLink="/ganagato">Juega</button>
    </div>
  </div>

  <div class="card" style="top: 4rem; box-shadow: -1px -1px 0px 8px rgba(159, 180, 0, 1);">
    <div class="imgbox" style="background: #88cb00ff;">
      <img src="assets/img/Progol.svg" alt=" galllowin">
    </div>
    <div class="content" style="background: #9fb400ff;">
      <h2>Progol</h2>
      <p>Un toque de la suerte</p>
      <button  routerLink="/ganagato">Juega</button>
    </div>
  </div>

  <div class="card" style="top: 4rem; box-shadow: 1px 1px 0px 8px rgba(159, 180, 0, 1);">
    <div class="imgbox" style="background: #8ac926;">
      <img src="assets/img/logo-progolMed-color.svg" alt=" galllowin">
    </div>
    <div class="content" style="background: #9fb400ff;">
      <h2>Progol Media Seman</h2>
      <p>Un toque de la suerte</p>
      <button  routerLink="/ganagato">Juega</button>
    </div>
  </div>
  <div class="card" style="top: 6rem; box-shadow: 1px 1px 0px 8px rgba(179, 179, 179, 1);">
    <div class="imgbox" style="background: #666666;">
      <img src="assets/img/ProTouch.svg" alt=" galllowin">
    </div>
    <div class="content" style="background: #b3b3b3ff;">
      <h2>ProTouch</h2>
      <p>Un toque de la suerte</p>
      <button  routerLink="/ganagato">Juega</button>
    </div>
  </div>
  <div class="card" style="top: 6rem; box-shadow: -1px -1px 0px 8px rgba(6, 34, 172, 1);">
    <div class="imgbox" style="background: #004bafff;">
      <img src="assets/img/PronoSports.svg" alt=" galllowin">
    </div>
    <div class="content" style="background: #0622ac;">
      <h2>Prono Sport</h2>
      <p>Un toque de la suerte</p>
      <button  routerLink="/ganagato">Juega</button>
    </div>
  </div>
  </div>
</body>







<app-anuncio></app-anuncio>

<app-resultados></app-resultados>


